- icon = ['&#xf1cb;','&#xf17d;','&#xf26e;','&#xf09b;','&#xf171;']

.nav
  - icon.each do |i|
    .link
      .prev= i
      .small= i
      .full
        .f1 headline
        .f2 some additional info to this link