html, body{ 
  margin: 0; 
  padding: 0;
  color: #ddf;
  background-color: #112;
  text-align: center;
  padding-top: 20vh;
}

.button,
.button::before,
.button::after,
.button span,
.button span::before,
.button span::after
{
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.button{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover
{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}

.button span
{
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}

.button:hover span
{
  background-color: #fff;
  color: #112;
}

.button::before,
.button::after,
.button span::before,
.button span::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.button::before,
.button span::before
{
  border-style: solid none;  
}

.button::before,
.button span::after{      
  left: 0;
  top: -0.4em;
  width: 100%; 
  height: calc(100% + 0.8em);
}

.button::after,
.button span::after
{
  border-style: none solid;   
}

.button::after,
.button span::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); 
}

.button:hover::after,
.button:hover span::after
{
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button:hover::before,
.button:hover span::before
{
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button:hover span::after,
.button:hover span::before
{
  opacity: 0;
}